<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить кафе</title>
</head>
<body>
    <h1>Добавить новое кафе</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }}: {{ form.name() }}</p>
        <p>{{ form.address.label }}: {{ form.address() }}</p>
        <p>{{ form.rating.label }}: {{ form.rating() }}</p>
        <p>{{ form.description.label }}: {{ form.description() }}</p>
        <button type="submit">Добавить кафе</button>
    </form>
</body>
</html>
