<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-Панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container1">
        <h1>Админ-Панель</h1>
        <p>Кафе</p>

        <h2>Список кафе</h2>
        <div class="places-container">
            {% for place in places %}
                <div class="place-block">
                    <h3>{{ place.name }}</h3>
                    <p><b>Область:</b> {{ place.region }}</p>
                    <p><b>Город:</b> {{ place.city }}</p>
                    <p><b>Адрес:</b> {{ place.address }}</p>
                    <p><b>Описание:</b></p>
                    <pre>{{ place.description }}</pre>
                    <p><b>Индекс:</b> {{ place.place_index }}</p>
                    <p><b>Тип:</b> {{ place.type }}</p>

                    <!-- Кнопка для отклонения -->
                    <form action="/reject_place" method="POST" style="display: inline;">
                        <input type="hidden" name="place_id" value="{{ place.id }}">
                        <input type="hidden" name="category" value="Кафе">
                        <button type="submit" name="action" value="reject">Отклонить</button>
                    </form>

                    <!-- Кнопка "Посмотреть" -->
                    {% if place.latitude and place.longitude %}
                        <a href="{{ url_for('view_place') }}?latitude={{ place.latitude }}&longitude={{ place.longitude }}" style="display: inline;">
                            <button type="button">Посмотреть на карте</button>
                        </a>
                    {% else %}
                        <p style="color: red;">Координаты отсутствуют</p>
                    {% endif %}
                </div>
            {% else %}
                <p>На данный момент нет добавленных кафе.</p>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('admin', category='Кафе', page=page-1) }}">← Назад</a>
        {% endif %}
        <span>Страница {{ page }} из {{ total_pages }}</span>
        {% if page < total_pages %}
            <a href="{{ url_for('admin', category='Кафе', page=page+1) }}">Вперед →</a>
        {% endif %}
    </div>

    <form action="/admin" method="GET" style="margin-top: 20px;">
        <input type="hidden" name="category" value="Меню">
        <button type="submit" class="menu-button">Меню</button>
    </form>

    <style>
        .places-container {
            max-height: 400px; /* Ограничение высоты */
            overflow-y: auto; /* Прокрутка по вертикали */
            border: 1px solid #ccc; /* Рамка для видимости */
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</body>
</html>
