<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-Панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container1">
        <h1>Админ-Панель</h1>
        <p>Добро пожаловать, <b>Администратор</b>!</p>

        <h2>Заявки на добавление мест</h2>
        <div class="places-container">
            {% for place in places %}
                <div class="place-block">
                    <h3>{{ place.name }}</h3>
                    <p><b>Область:</b> {{ place.region }}</p>
                    <p><b>Город:</b> {{ place.city }}</p>
                    <p><b>Адрес:</b> {{ place.address }}</p>
                    <p><b>Описание:</b> {{ place.description }}</p>
                    <p><b>Тип:</b> {{ place.type }}</p>

                    <form action="/approve_place" method="POST" style="display: inline;">
                        <input type="hidden" name="place_id" value="{{ place.id }}">
                        <button type="submit" name="action" value="approve">Добавить</button>
                    </form>
                    <form action="/reject_place" method="POST" style="display: inline;">
                        <input type="hidden" name="place_id" value="{{ place.id }}">
                        <button type="submit" name="action" value="reject">Отклонить</button>
                    </form>
                </div>
            {% else %}
                <p>На данный момент нет запросов.</p>
            {% endfor %}
        </div>


        <form action="/admin?" method="POST">
            <button type="submit">Выйти</button>
        </form>
    </div>

    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <form action="/admin" method="GET" style="margin-top: 20px;">
        <input type="hidden" name="category" value="Меню">
        <button type="submit" class="menu-button">Меню</button>
    </form>
</body>
</html>
