<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Оставить отзыв</title>
</head>
<body>

    <nav>
        <a href="/" class="{{ 'active' if request.path == '/' else '' }}">Головна</a>
        <a href="/add_place" class="{{ 'active' if request.path == '/add_place' else '' }}">Додати</a>
        <a href="/review" class="{{ 'active' if request.path == '/review' else '' }}">Написати відгук</a>
        <a href="/login" class="{{ 'active' if request.path == '/login' else '' }}">Увійти</a>
        <a href="/signup" class="{{ 'active' if request.path == '/signup' else '' }}">Зарееструватись</a>
        <a href="/about_us" class="{{ 'active' if request.path == '/about_us' else '' }}">Про нас</a>
        <a href="/partners" class="{{ 'active' if request.path == '/partners' else '' }}">Партнери</a>
    </nav>

    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


    <h1>Оставить отзыв о кафе</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.cafe_id.label }}: {{ form.cafe_id() }}</p>
        <p>{{ form.review_text.label }}: {{ form.review_text() }}</p>
        <button type="submit">Оставить отзыв</button>
    </form>
</body>
</html>